---
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
- role: worker
    extraPortMappings:
  {%for m in extra_port_mappings.split(':') %}
    - containerPort: {{m[2]}}
    hostPort: {{m[1]}
    listenAddress: {{m[0]}
  {%endfor%}
containerdConfigPatches:
{%if custom_registry %}
- |-
    [plugins."io.containerd.grpc.v1.cri".registry.mirrors."localhost:{{container_registry_port}}"]
    endpoint = ["http://{{container_registry_name}}:{{container_registry_port}}"]
    [plugins."io.containerd.grpc.v1.cri".registry.mirrors."{{container_registry_name}}:{{container_registry_port}}"]
    endpoint = ["http://{{container_registry_name}}:{{container_registry_port}}"]
{%endif%}